html {
    box-sizing: border-box;
    }
    *, *:before, *:after {
        box-sizing: inherit;
    }

body
{
    background-image: url('images/bg-pattern-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    
} 

header
{
    
    padding: 25px 0 25px 0;
    order: -3;
}

header img
{
    width: 100px;
}

.hero
{
    background-image: url('images/hero-mobile.jpg');
    background-size: cover;
    width: 100%;
    height: 300px;
    
    
}

.container
{
    width: 80%;
    margin: 0 auto;
    
}

.title
{
    margin-top: 50px;
    text-align: center;
    margin-bottom: 25px;
}

.title div
{
    width: 100%;
    letter-spacing: 10px;
    line-height: 30px;
    font-size: 30px;
}

.title_part1
{
    font-family: 'Sulphur Point', sans-serif;
    font-weight: 300;
    color: salmon;
    
}

.title_part2, .title_part3
{
    font-family: 'Oxygen', sans-serif;
    
    
}




.paragraph
{
    color: salmon;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 24px;
    margin-bottom: 40px;
    text-align: center;
}


.form
{
    margin-bottom: 100px;
}

input
{
    border-radius: 20px;
    height: 40px;
    width: 100%;
    border: 1px solid salmon;
    color: salmon;
    padding-left: 30px;
    outline: none;
    background-color: transparent;
}

::placeholder
{
    color: salmon;
    
}
form
{
    position: relative;
}

button
{
    position: absolute;
    height: 40px;
    border-radius: 20px;
    right: -1px;
    top: 0;
    width: 52px;
    border: none;
    background-color: salmon;
    background: linear-gradient(salmon, rgb(236, 181, 175));
}

button img
{
    margin: 0 auto;
}

@media (min-width: 1024px){

    body
    {
        display: flex;
        flex-direction: row;
    }
    .wrapper
    {
        width: 60%;
        padding-right: 10%;
    }

    .container
    {
        width: 60%;
    }

    header 
    {
        padding-top: 50px;
    }

    .title
    {
        text-align: left;
    }

    .title div{
        font-size: 70px;
        line-height: 80px;
    }


    .paragraph
    {
        text-align: left;
    }
    .hero
    {
        display: none;
    }

    .hero-desktop
    {
        background-image: url('images/hero-desktop.jpg');
        background-size: cover;
        width: 40%;
        height: 100vh;
    }

    button
    {
        width: 70px;
    }
}